<robot name="3_101">
  <gazebo>
      <static>true</static>
  </gazebo>
  <link name="base">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="urdf_models/sign/3_101.dae" scale ="0.5 0.5 0.5"/>
        <scale> 0.5 0.5 0.5 </scale>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="urdf_models/sign/3_101.dae" scale ="0.5 0.5 0.5"/>
        <scale> 0.5 0.5 0.5 </scale>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia
        ixx="0.0" ixy="0.0" ixz="0.0"
        iyy="0.0" iyz="0.0"
        izz="0.0"/>
    </inertial>
  </link>
</robot>
